mat-toolbar {
  height: 12vh;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (min-height: 500px) {
  mat-toolbar {
    height: 12vh;
  }
}

@media only screen and (min-height: 600px) {
  mat-toolbar {
    height: 8vh;
  }
}

@media only screen and (min-height: 900px) {
  mat-toolbar {
    height: 6vh;
  }
}
