<div class="page-container">
  <mat-card>
    <form #form="ngForm">
      <mat-card-header>
        <mat-card-title>Cadastro</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input
            matInput
            type="email"
            name="email"
            [(ngModel)]="obj.email"
            [pattern]="emailPattern"
            required
            #email="ngModel"
          />
          <mat-error *ngIf="email.errors?.['pattern']"
            >Email inválido</mat-error
          >
          <mat-error *ngIf="!obj.email">Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="obj.password"
            required
          />
          <mat-error *ngIf="!obj.password">Campo obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirmar senha</mat-label>
          <input
            matInput
            type="password"
            name="confirmPassword"
            [(ngModel)]="obj.confirmPassword"
            required
            #confirmPassword="ngModel"
            pattern="{{ obj.password }}"
          />
          <mat-error *ngIf="!obj.confirmPassword">Campo obrigatório</mat-error>
          <mat-error *ngIf="obj.password && confirmPassword.errors?.['pattern']"
            >Senhas devem ser iguais</mat-error
          >
        </mat-form-field>

        <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>

        <a routerLink="/login">Já é cadastrado? Ir para o login.</a>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
        >
          Cadastrar
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
