html,
body {
  height: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
  background-color: #f5f5f5ab;
}

* {
  scrollbar-color: #c3c3c3 rgba(12, 12, 12, 0.1);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  border-radius: 10px;
  background: rgba(12, 12, 12, 0.1);
  border: 0;
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(12, 12, 12, 0.02);
  border: 0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #aeaeae;
  border: 0;
}

*::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

*::-webkit-scrollbar-thumb:active {
  background: #8f8f8f;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000;
  }
}

mat-form-field {
  width: 100%;
}

.page-container {
  height: 88vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 80%;

    mat-card-header {
      padding: 16px;
    }
  }
}

@media only screen and (min-width: 500px) {
  .page-container {
    height: 94vh;
  }
  mat-card {
    max-width: 50%;
  }
}

@media only screen and (min-width: 800px) {
  mat-card {
    max-width: 40%;
  }
}
