.table-container {
  padding: 1em;
  width: 100vw;
}

@media only screen and (min-width: 500px) {
  .table-container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .table-container {
    max-width: 80%;
  }
}
